p {
  font-family: Montserrat;
  margin: 0px;
  font-size: 12px;
}

.model-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.delivery-message {
  font-size: 14px;
  text-align: center;
}
.delivery-message .touchless-delivery-text {
  text-decoration: underline;
  cursor: pointer;
}