* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.container {
    position: relative;
    width: 60%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    min-width: 280px;
}

.container header {
    font-weight: 500;
    font-size: 1.5rem;
}

.reg-form {
    padding: 12px 0;
}

.input-box {
    margin-top: 14px;
}

.reg-form :where(.input-box input, .select-box) {
    position: relative;
    outline: none;
    border: 1px solid #ccc;
    height: 25px;
    border-radius: 4px;
    padding: 0 4px;
    width: 100%;
    margin-top: 4px;
}

.reg-form .name-box {
    display: flex;
    column-gap: 15px;
}

.reg-form .input-box {
    flex: 1;
}

.reg-form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 14px;
}

.reg-form .gender-box input {
    height: 1em;
}

.reg-form :where(.gender-option, .gender) {
    padding-left: 5px;
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.reg-form .gender {
    column-gap: 5px;
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.reg-form :where(.gender input, .gender label) {
    cursor: pointer;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.select-box {
    margin-top: 14px;
}

.reg-form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    background-color: #cbcbcb;
    transition: all 0.2s ease;
}

.reg-form button:hover{
    background-color: rgb(135, 168, 110);
}

@media screen and (max-width: 300px) {
    .reg-form .name-box {
        flex-wrap: wrap;
    }
}