p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding-top: 81px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(247, 247, 247);
    font-family: Roboto, Arial, Sans-Serif;
}

footer {
    height: 175px;
    background-color: white;
    margin-left: -96px;
    margin-right: -24px;
    margin-top: 50px;
}